/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn {
    border: none; /* Remove borders */
    color: black; /* Add a text color */
    padding: 0.5em 1em; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    background-color: transparent; /* Add a background color */
    border-radius: 2px; /* Rounded border */
    outline: none; /* Remove border on select */
}

.btn:hover,
.btn:focus {
    background-color: #e6e6e680; /* Change a background color */
}

.btn.primary {
    color: #fff;
    background-color: #00bdd6;
}

.btn.primary:hover,
.btn.primary:focus {
    background-color: #0095a8;
}

/* Firefox: Get rid of the inner focus border */

.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}
