.btn,
.button {
    border : 1px solid transparent;
    display : inline-block;
    padding : 8px 16px;
    vertical-align : middle;
    overflow : hidden;
    text-decoration : none;
    color : inherit;
    background-color : inherit;
    text-align : center;
    cursor : pointer;
    white-space : nowrap;
    margin-bottom : 0;
    font-weight : normal;
    -ms-touch-action : manipulation;
    touch-action : manipulation;
    background-image : none;
    font-size : 14px;
    line-height : 1.42857143;
    border-radius : 4px;
}

.btn:hover {
    box-shadow : 0 8px 16px 0 rgba(
        0,
        0,
        0,
        0.2
    ),
        0 6px 20px 0 rgba(
        0,
        0,
        0,
        0.19
    );
}

.btn,
.button {
    -webkit-touch-callout : none;
    -webkit-user-select : none;
    -khtml-user-select : none;
    -moz-user-select : none;
    -ms-user-select : none;
    user-select : none;
}

.disabled,
.btn:disabled,
.button:disabled {
    cursor : not-allowed;
    opacity : 0.3;
}

.disabled *,
:disabled * {
    pointer-events : none;
}

.btn.disabled:hover,
.btn:disabled:hover,
.button.disabled:hover,
.button:disabled:hover {
    box-shadow : none;
}

.block {
    display : block;
    width : 100%;
}

.circle {
    border-radius : 50%;
}

.round-small {
    border-radius : 2px;
}

.round,
.round-medium {
    border-radius : 4px;
}

.round-large {
    border-radius : 8px;
}

.round-xlarge {
    border-radius : 16px;
}

.round-xxlarge {
    border-radius : 32px;
}
